<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Enter the Input xlsx file path-->
    <add key="InputPath" value="D:\DocRepos\Support\SplitExcelFile\Input\JobPosting_90days.xlsx"/>

    <!-- Enter the Output Directory-->
    <add key="OutputDir" value="D:\DocRepos\Support\SplitExcelFile\Output\"/>

    <!-- Enter the Excel Sheet name where we have the job posting-->
    <add key="SheetName" value="ExportWorksheet"/>

    <!-- Enter the output file format in which individual postings has to be stored -->
    <add key="OutputFormat" value="txt"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
